@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* General styles */

body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #f9faf8;
    font-size: 48px;
}

a,
.text {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

img {
    width: 400px;
    height: 200px;
}

button {
    background-color: #3882f6;
    border: none;
    color: #f9faf8;
    padding: 5px 20px;
    font-weight: 550;
    border-radius: 10px;
    margin-top: 10px;
}

/* Header section */

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding-bottom: 150px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
}

.content {
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 350px;
}

/* Lizard section */

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    gap: 50px;
    padding-bottom: 50px;
}

.item-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.item {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 150px;
    gap: 5px;
}

#random-text {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding-top: 50px;
}

#lizard-card {
    height: 150px;
    width: 150px;
    border-color: #1F2937;
    border-style: solid;
    border-width: 3px;
    border-radius: 15px;
}

/* Quote section */
/* TODO: Fix bug with author positioning */

.quote-container {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    justify-content: center;
    /* gap: 25px; */
}

#quote {
    color: #1f2937;
    font-weight: 100;
    font-size: 36px;
    font-style: italic;
    flex-wrap: wrap;
    padding: 50px 225px;
}

.author {
    font-weight: bold;
    font-size: 16px;
    font-style: normal;
    padding: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin: -50px -50px; */
}

/* CTA section */

.cta-card{
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
    display: flex;
    padding: 25px 75px;
    align-items: center;
    justify-content: space-between;
    gap: 100px
}

.cta-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 100px;
    
}

#card-header {
    font-size: 20px;
}

.cta-container .text{
    font-size: 12px;
}

#card-btn{
    border-style: solid;
    border-color: white;
    border-radius: 8px;
    font-size: 12px;
    font-weight: normal;
    padding: 5px 30px;
}